<div class="card-container">
<!-- From Uiverse.io by vamsidevendrakumar --> 
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <p>¿Quiénes Somos?</p>
      </div>
      <div class="card-back">
        <p>Somos un grupo de músicos, alumnos y vecinos de Argés unidos por una misma pasión. Una gran familia cultural que cree en el poder transformador de la música.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <p>¿A qué nos dedicamos?</p>
      </div>
      <div class="card-back">
        <p>Creamos espacios de aprendizaje, organizamos conciertos, dinamizamos los eventos culturales del municipio y gestionamos nuestra propia banda y escuela de música.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <p>¿Se necesita experiencia previa?</p>
      </div>
      <div class="card-back">
        <p>En absoluto. Contamos con clases adaptadas para todos los niveles, desde personas que nunca han tocado un instrumento hasta músicos que buscan perfeccionar su técnica.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <p>¿Cómo puedes formar parte?</p>
      </div>
      <div class="card-back">
        <p>No importa si tocas un instrumento, quieres aprender desde cero o solo buscas apoyar la cultura. ¡En nuestra asociación siempre hay un lugar para ti!</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <p>¿Tienes dudas?</p>
      </div>
      <div class="card-back">
        <p>¡No dudes en contactarnos! Estamos aquí para ayudarte y responder cualquier pregunta que tengas sobre nuestra asociación o nuestros programas</p>
        <p>Correo: musicalarges@hotmail.com</p>
        <p>Teléfono: 613 02 68 37</p>
      </div>
    </div>
  </div>
</div>
