<nav 
  [class.hidden]="!visible"
  [class.menu-open]="menuOpen">

  <img src="logo.png" alt="Logo" class="logo light-logo">
  <img src="logo-oscuro.png" alt="Logo" class="logo dark-logo">


  @if (!isMobile) {

    <ul class="links">
      <li>
        <a routerLink="/infobanda">Sobre Nosotros</a>
      </li>

      <li>
        <a routerLink="/apuntate">Apúntate</a>
      </li>

      <li>
        <a routerLink="/actualidad">Actualidad</a>
      </li>

      <li>
        <a routerLink="/calendario">Calendario</a>
      </li>

      <li>
        <a routerLink="/home">Home</a>
      </li>
    </ul>

  } @else {

    <label class="burger" for="burger">
      <input
        type="checkbox"
        id="burger"
        [checked]="menuOpen"
        (change)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </label>

  }

</nav>


@if (isMobile && menuOpen) {

  <div class="mobile-menu">

    <a 
      routerLink="/infobanda"
      (click)="menuOpen=false">
      Sobre Nosotros
    </a>
    
    <a 
      routerLink="/apuntate"
      (click)="menuOpen=false">
      Apúntate
    </a>

    <a 
      routerLink="/actualidad"
      (click)="menuOpen=false">
      Actualidad
    </a>

    <a 
      routerLink="/calendario"
      (click)="menuOpen=false">
      Calendario
    </a>
    
    <a 
      routerLink="/home"
      (click)="menuOpen=false">
      Home
    </a>

  </div>

}