<section class="calendario">
  <h2>Calendario</h2>

  <p class="intro">
    Consulta los próximos conciertos y eventos de la Asociación Musical Argés.
  </p>

  <article class="calendar-card">
    <h3>Próximos eventos</h3>

    <div class="calendar-container">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FMadrid&showPrint=0&showTabs=0&showNav=0&showCalendars=0&showTz=0&title=Asociaci%C3%B3n%20Musical%20Arg%C3%A9s&src=YW11c2ljYWxhcmdlc0BnbWFpbC5jb20&color=%23039be5" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </article>
  
</section>
